

.no {
  animation: left 0.3s ease-in-out 0s 1;
}
.yes {
  animation: right 0.3s ease-in-out 0s 1;
}

@keyframes left {
  0% {transform: translateX(0);}
  100% {transform: translateX(-3000px);}
}

@keyframes right {
  0% {transform: translateX(0);}
  100% {transform: translateX(3000px);}
}
