* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.maybes, .faves {
  min-width: 80px;
  min-height: 400px;
  border: 1px solid black;
  display: inline-block;
  margin: 0 50px;
  vertical-align: top;
}

.restobar {

}
