@import url('https://fonts.googleapis.com/css?family=Questrial');

/** {
  border: green 1px solid;
}*/

body {
  margin: 0;
  padding: 0;
  font-family: 'Questrial', sans-serif;
  text-align: center;
}

nav {
  background-color: black;
  display: block;
  height: 46px;
  width: 100vw;
}


a#navItem1 {
  font-size: 35px;
  color: white;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  width: 80vw;
  margin: 5px;
}

a#navItem:hover {
  text-decoration: none;
}

a#navItem2 {
  font-size: 22px;
  color: white;
  text-align: right;
  text-decoration: none;
  display: inline-block;
  width: 8vw;
}

a#navItem:hover {
  text-decoration: none;
}

a#navItem3 {
  font-size: 22px;
  color: white;
  text-align: right;
  text-decoration: none;
  display: inline-block;
  width: 8vw;
}

a#navItem:hover {
  text-decoration: none;
}

.siteHeader {
  font-size: 300px;
  color: black;
}

.searchBar {
  font-size: 34px;
    color: black;
    padding: 16px;
    display: block;
    margin: auto;
    border: 9px solid black;
}

.goButton {
  width: 177px;
  height: 63px;
  background-color: navy;
  border: none;
  color: white;
  font-size: 40px;
  margin: 20px;
}

label.locationLabel {
  font-size: 32px;
  margin-bottom: 20px;
  display: block;
}
