@import url('https://fonts.googleapis.com/css?family=Questrial');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

/** {
  border: green 1px solid;
}*/

body {
  margin: 0;
  padding: 0;
  font-family: 'Questrial', sans-serif;
  text-align: center;
  /*height: 100%*/
}

#root {
  min-height: calc(100vh - 106px);
}

/*//////////////NAV//////////////*/

nav {
  background-color: black;
  display: block;
  height: 46px;
  width: 100vw;
}


a#navItem1 {
  font-size: 35px;
  color: white;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  width: 80vw;
  margin: 5px;
}

a#navItem:hover {
  text-decoration: none;
}

a#navItem2 {
  font-size: 22px;
  color: white;
  text-align: right;
  text-decoration: none;
  display: inline-block;
  width: 8vw;
}

a#navItem:hover {
  text-decoration: none;
}

a#navItem3 {
  font-size: 22px;
  color: white;
  text-align: right;
  text-decoration: none;
  display: inline-block;
  width: 8vw;
}

a#navItem:hover {
  text-decoration: none;
}

/*//////////////FOOTER//////////////*/

footer {
  display: block;
  padding: 1em;
}

p#instructions {
  display: inline-block;
  width: 80vw;
  text-align: left;
  padding-bottom: 20px;
}

p#copyright {
  display: inline-block;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  padding-right: 5px;
  text-align: right;
}

a#developedBy {
  display: inline-block;
  text-align: right;
  color: black;
  text-decoration: none;
}


/*/////////////HOME PAGE//////////////////*/

.siteHeader {
  font-size: 300px;
  color: black;
}

label.locationLabel {
  font-size: 32px;
  margin-bottom: 20px;
  display: block;
}

.searchBar {
  font-size: 34px;
    color: black;
    padding: 16px;
    display: block;
    margin: auto;
    border: 9px solid black;
}

.searchBar:focus {
  outline: none;
}

.goButton {
  width: 177px;
  height: 56px;
  background-color: navy;
  border: none;
  color: white;
  font-size: 30px;
  margin: 20px;
}

.goButton:active {
  outline: none;
}

/*///////////RESTAURANT VIEWER//////////*/

.imageSlider {
  width: 800px;
  height: 450px;
  display: inline-block;
  border: black 8px solid;
  margin: 20px;
  margin-bottom: 2px;
}

i.fa.fa-info.fa-1x {
  color: navy;
}

a.imageHeading {
  display: block;
  margin-bottom: 3px;
  z-index: 2;
  width: 68vw;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  font-weight: 300;
  color: black;
  text-decoration: none;
}

.tinderButtons {
  display: block;
  width: 800px;
  margin: auto;
}

.tinderButtons button {
  cursor: pointer;
}

.tinderButtons button:active {
  outline: none;
}

#no, #fave, #yes {
  display: inline-block;
  width: 65px;
  height: 60px;
  margin-bottom: 40px;
  margin: 5px 10px 40px 20px;
  /*border: 2px red solid;*/
  border: none;
  background-color: white;
}


i.fa.fa-check.fa-5x {
  color: #1bcc1b;
}

i.fa.fa-times.fa-5x {
  color: red;
}

i.fa.fa-heart.fa-4x {
  color: navy;
  margin-top: 4px;
}
